<a href="https://colab.research.google.com/github/amaljabar/food_delivery/blob/main/eta_time_food_delivery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df_fooddeliv=pd.read_csv('food_delivery_datasets.csv')
df_fooddeliv=df_fooddeliv[df_fooddeliv.status=='Completed']

In [ ]:
df_fooddeliv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        1076 non-null   object
 1   voucher_amount  1076 non-null   int64
 2   date_time       1076 non-null   object
 3   eta_seconds     1076 non-null   int64
 4   food_price      1076 non-null   int64
 5   cust_id         1076 non-null   int64
 6   rating          598 non-null    float64
 7   delivery_fee    1076 non-null   int64
 8   resto_id        1076 non-null   int64
 9   status          1076 non-null   object
 10  random_id       1076 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 92.6+ KB

In [ ]:
df_dateeta=df_fooddeliv[['date_time','eta_seconds','resto_id']]
df_dateeta

                       date_time  eta_seconds   resto_id
0     2018-08-12T20:35:08.001006         1800  742638033
1     2018-09-23T17:44:12.243273         2173  742767245
2     2018-09-19T18:08:09.387991         1418  742618303
3     2018-09-21T01:24:35.272499         1903  742541172
4     2018-09-22T17:57:45.523161         1716  742604875
...                          ...          ...        ...
1071  2018-09-20T15:01:52.152828          900  742742150
1072  2018-07-26T14:43:23.655294         1579  742566851
1073  2018-08-21T20:10:59.283185         2606  742571888
1074  2018-07-16T14:42:23.214427         2428  742725064
1075  2018-09-11T14:18:19.494258         1547  742594499

[881 rows x 3 columns]

In [ ]:
listdatetime[1][0].split('T')

['2018-09-23', '17:44:12.243273']

In [ ]:
df_dateeta[['date','time']]=df_dateeta.date_time.str.split('T',expand=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
df_dateeta[['hour']]=df_dateeta.time.str[:2].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [72]:
df_dateeta[(df_dateeta.hour<5) ].eta_seconds.mean()

1554.4761904761904

In [80]:
df_dateeta[(df_dateeta.hour>=5) & (df_dateeta.hour<=9)].eta_seconds.mean()

1864.1851851851852

In [83]:
df_dateeta[(df_dateeta.hour>=9) & (df_dateeta.hour<=11)].eta_seconds.mean()

2074.5789473684213

In [85]:
df_dateeta[(df_dateeta.hour>=11) & (df_dateeta.hour<=16)].eta_seconds.mean()

1944.6586538461538

In [86]:
df_dateeta[(df_dateeta.hour>=16) & (df_dateeta.hour<=19)].eta_seconds.mean()

1918.4043887147336

In [87]:
df_dateeta[df_dateeta.hour>19 ].eta_seconds.mean()

1802.4468085106382